@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    scroll-behavior: smooth; 
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.header{
    width: 100vw;
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 10px;
}

.header > ul{
    display: flex;
    gap: 110px;
}

.header > ul > a{
    text-decoration: none;
    font-weight: 600;
}

.header > ul > a > li{
    list-style-type: none;
    color: black;
    font-size: 14pt;
    width: 90px;
    height: 45px;
    text-align: center;
    border-radius: 10px;
    padding-top: 9px;
}

.header > ul > a > li:hover{
    background-color: #0077FF;
    transition: ease-in-out 0.4s;
    color: white;
}

.header > ul > a > #sobre{
    list-style-type: none;
    color: black;
    font-size: 14pt;
    width: 115px;
    height: 45px;
    text-align: center;
    border-radius: 10px;
    padding-top: 9px;
}

.header > ul > a > #sobre:hover{
    background-color: #0077FF;
    transition: ease-in-out 0.4s;
    color: white;
}

.header > a > button{
    margin-left: 200px;
    width: 120px;
    height: 45px;
    border-radius: 14px;
    border: 2px solid #0077FF;
    background-color: white;
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
    padding-bottom: 3px;
    cursor: pointer;
}

.header > a > button:hover{
    background-color: #0077FF;
    transition: ease-in-out 0.4s;
    font-weight: 500;
    color: white;

}

.container > .home{
    height: 850px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    
}

.container > .home > .left{
    width: 50vw;
    height: 800px;
    padding-left: 20%;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.container > .home > .left > h1{
    color: #0077FF;
    margin-bottom: 3px;
    font-size: 37pt;
}

.container > .home > .left > h2{
    font-size: 22pt;
    margin-bottom: -7px;
    margin-top: -9px;
}

.container > .home > .left > .icons{
    margin-top: 15px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.container > .home > .left > .icons > button{
    width: 200px;
    height: 50px;
    border-radius: 14px;
    border: 2px solid #0077FF;
    background-color: white;
    font-size: 12pt;
    font-weight: 500;
    text-align: left;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.container > .home > .left > .icons > button:hover{
    background-color: #0077FF;
    transition: ease-in-out 0.4s;
    font-weight: 500;
    color: white;
}

.container > .home > .left > .icons > button:hover > #download{
    filter: brightness(0) invert(1);
    transition: ease-in-out 0.4s;
}

.container > .home > .left > .icons > button > #download{
    margin-left: 10px;
}

.container > .home > .left > .icons > .links > a >  img{
    width: 35px;
    height: 35px;
}

.container > .home > .left > .icons > .links > a >  img:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}


.container > .home > .right{
    width: 50vw;
    height: 800px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 7%
}

.container > .home > .right > img{
    width: 480px;
    border-radius: 50%;
}

.container > .about{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > .about > hr{
    width: 100vw;
}

.container > .about > h1{
    width: 260px;
    text-align: center;
    margin-top: -35px;
    background-color: white;
    color: #0077FF;
    font-size: 37pt;;
}

.container > .about > .about_me{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 40px;
}

.container > .about > .about_me > .about_left{
    width: 50vw;
    padding-left: 110px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.container > .about > .about_me > .about_left > img{
    width: 480px;
    border-radius: 50%;
    margin-left: 170px;
}

.container > .about > .about_me > .about_right{
    width: 50vw;
    height: 700px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.container > .about > .about_me > .about_right > h2{
    width: 700px;
    text-align: left;
    color: #0077FF;
    font-size: 37pt;
    margin-bottom: 20px;
}

.container > .about > .about_me > .about_right > h5{
    width: 700px;
    text-align: left;
    color: #000;
    font-size: 17pt;
    margin-bottom: 20px;
}

.container > .about > .about_me > .about_right > .skills{
    margin-left: -20px;
}

.container > .about > .about_me > .about_right > .skills > .habilidades{
    display: flex;
    align-items: center;
    padding-left: 170px;
    gap: 3px;
}

.container > .about > .about_me > .about_right > .skills > .habilidades > #github{
    margin-left: 9px;
}


.container > .about > .about_me > .about_right > .skills > h2{
    width: 700px;
    color: #0077FF;
    font-size: 37pt;
    margin-bottom: 20px;

    
}

.container > .about > .about_me > .about_right > .skills > .habilidades >img{
    width: 60px;
}


.container > .portfolio{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > .portfolio > hr{
    width: 100vw;
}

.container > .portfolio > h1{
    width: 260px;
    text-align: center;
    margin-top: -35px;
    background-color: white;
    color: #0077FF;
    font-size: 37pt;
}

.container > .portfolio > h2{
    width: 260px;
    text-align: center;
    font-size: 20pt;
    margin-top: 30px;
}

.container > .portfolio > .port{
    width: 100vw;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.container > .portfolio > .port > .linha{
    width: 1350px;
    height: 200px;
    gap: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container > .portfolio > .port > .linha > .bloco{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    background-size: cover;
    background-position: center;
    filter: blur(0.2px);
    transition-duration: 0.3s;
    position: relative;
    z-index: 3;
}

.container > .portfolio > .port > .linha > .bloco > .blocodobloco{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    background-size: cover;
    background-position: center;
    filter: blur(0.2px);
    transition-duration: 0.3s;
    position: relative;
    z-index: 3;
}

.container > .portfolio > .port > .linha > .bloco > #bloco1{
    background-image: url(../assets/sistok-preview.png);
}

.container > .portfolio > .port > .linha > .bloco > #bloco2{
    background-image: url(../assets/one\ piece.PNG);
}
.container > .portfolio > .port > .linha > .bloco > #bloco3{
    background-image: url(../assets/connectezVous.PNG);
}
.container > .portfolio > .port > .linha > .bloco > #bloco4{
    background-image: url(../assets/hbo2.PNG);
}
.container > .portfolio > .port > .linha > .bloco > #bloco5{
    background-image: url(../assets/kreativ.PNG);
}
.container > .portfolio > .port > .linha > .bloco > #bloco6{
    background-image: url(../assets/Skambo.PNG);
}
.container > .portfolio > .port > .linha > .bloco > #bloco7{
    background-image: url(../assets/GPT.PNG);
}
.container > .portfolio > .port > .linha > .bloco > #bloco8{
    background-image: url(../assets/product.PNG);
}

.container > .portfolio > .port > .linha > .bloco:hover > .blocodobloco{
    transform: scale(1.1);
    transition-duration: 0.5s;
    transition-delay: 0.05s;
    opacity: 30%;
}

.container > .portfolio > .port > .linha > .bloco:hover > img{
    z-index: 1;
}

.container > .portfolio > .port > .linha > .bloco > img{
    position: absolute;
    width: 45px;
    height: 45px;
    z-index: 0;
}

.container > .portfolio > .port > .linha > .bloco > .gits{
    left: 15.4%;
    top: 39%;
}

.container > .portfolio > .port > .linha > .bloco > .setas{
    left: 70.3%;
    top: 39%; 
}

.container > .portfolio > .port > .linha > .bloco > .blocodobloco > a{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.container > .portfolio > .port > .linha > .bloco:hover > .blocodobloco > a{  
    visibility: visible;
    filter: opacity(1);
}

.container > .portfolio > .port > .linha > .bloco > .blocodobloco > a:hover > img{
    filter: blur(0px);
}

.container > .portfolio > .port > .linha > .bloco  > .blocodobloco > a > img{
    width: 40px;
    height: 40px;
}

.container > .carreira{
    width: 100vw;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > .carreira > hr{
    width: 100vw;
}

.container > .carreira > h1{
    width: 400px;
    text-align: center;
    margin-top: -35px;
    background-color: white;
    color: #0077FF;
    font-size: 37pt;
}

.container > .carreira > .mcarreira{
    display: flex;
}

.container > .carreira > .mcarreira > .left{
    width: 50vw;   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
}

.container > .carreira > .mcarreira > .left > .quadrado{
    width: 570px;
    height: 100px;
    border: 2px solid #0077FF;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
}

.container > .carreira > .mcarreira > .left > .quadrado > h3{
    font-size: 16pt;
    color: #0077FF;
}

.container > .carreira > .mcarreira > .left > .quadrado > h5{
    font-size: 12pt;
    font-weight: 600;
    margin: 5px;
}


.container > .carreira > .mcarreira > .right{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20%;
}

.container > .carreira > .mcarreira > .right > .quadrado{
    width: 570px;
    height: 185px;
    border: 2px solid #0077FF;
    border-radius: 10px;
    text-align: left;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.container > .carreira > .mcarreira > .right > .quadrado > h3{
    font-size: 16pt;
    color: #0077FF;
    margin-bottom: 8px;
}

.container > .carreira > .mcarreira > .right > .quadrado > h5{
    font-size: 12pt;
    font-weight: 600;
}

.container > .carreira > .mcarreira > .right > .quadrado > .baixo{
    display: flex;
    width: 100%;
    gap: 43%;
    font-size: 12pt;
    font-weight: 600;
    color: #0077FF;
    margin-bottom: 0px;
}

.container > .carreira > .mcarreira > .right > #quadrado1 > .baixo{
    margin-top: 4.2%;
}

.container > .carreira > .mcarreira > .right > #quadrado2 > .baixo{
    margin-top: 4.2%;
    gap: 55%;
}

.container > .carreira > .mcarreira > .right > #quadrado3 > .baixo{
    margin-top: 7.6%;
    gap: 42.2%;
}

.container > .carreira > .mcarreira > .right > #quadrado4 > .baixo{
    margin-top: 7.6%;
    gap: 42.2%;
}

.container > .contato{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.container > .contato > hr{
    width: 100vw;
}

.container > .contato > h1{
    width: 300px;
    text-align: center;
    margin-top: -35px;
    background-color: white;
    color: #0077FF;
    font-size: 37pt;
}

.container > .contato > .contateMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.container > .contato > .contateMe > .links > a > img{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container > .contato > a:hover > img{
    transform: scale(1.03);
    transition-duration: 0.3s;
}

.container > .contato > .contateMe > .links > a > img:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}


.container > .contato > h5{
    font-size: 14pt;
   margin-bottom: 10px;
}

.container > footer{
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0077FF;
    color: white;
    font-size: 13pt;
    padding-right: 25%;
    margin-top: 100px;
}

.container > footer > h5{
    margin-right: 16%;
}


